<header>Eat-Da-Burger!</header>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12">
      <div class="panel">
        <div class="panel-header">
          <h2>Burgers to Eat!</h2>
        </div>
        <div class="panel-body" id="uneaten">
          {{#each burgers}}
          {{#unless this.devoured}}
          <div id="{{this.id}}">

            <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
              <span><i class="fas fa-hamburger"></i> | <strong>{{this.burger_name}}</strong></span>
              <button class="btn btn-sm" type="submit">Devour!</button>
            </form>
          </div>
          {{/unless}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12">
      <div class="panel">
        <div class="panel-header">
          <h2>Devoured Burgers</h2>
        </div>
        <div class="panel-body" id="eaten">
          {{#each burgers}}
          {{#if this.devoured}}
          <div id="{{this.id}}">
            <span><i class="fas fa-cookie-bite"></i> | <strong>{{this.burger_name}}</strong> </span>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <header style="font-size: x-large">Create a new burger!</header>
  <br>
  <div class="row">
    <div id="burgerForm" class="col">
      <form action="/burgers" method="POST">
        <input type="text" id="name" name="burger_name" placeholder="Whatcha cravin? ;)">
        <button type="submit" class="submit">Submit</button>
      </form>
    </div>
  </div>
</div>